---
const response = await fetch('https://script.google.com/macros/s/AKfycbxhqtUmAWdRfi4FXP-PgI5qLX8wqWFrJV_UsAzbvE98gOaGLPFvgn0hGwSY3ahNLLzsfg/exec');
const jsonData = await response.json();
const SumcompetResult = jsonData.SumcompetResult || [];
---

<center class="mt-8">
    <img src="https://cdn.bn-sc.cloud/images/nakagame/logo.png" alt="" width="128px">
    <h1 class="text-xl font-semibold mt-4">สรุปอันดับการแข่งขันกีฬา</h1>
    <h4>ประเภทกีฬา : <span id="ss11_type">{SumcompetResult[10]?.type}</span></h4>
</center>

<div class="bg-white shadow-md rounded-md overflow-hidden max-w-lg mx-auto mt-16 mb-16">
    
    
    <div class="bg-gray-100 py-2 px-4">
    </div>
    <ul class="divide-y divide-gray-200">
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-4"><img class="w-12 h-12 rounded-full object-cover mr-4" src="https://cdn.bn-sc.cloud/images/nakagame/medal/1.png"
                alt="Gold Rank"></span>
            
            <div class="flex-1">
                <h3 class="text-lg font-medium text-gray-800" id="ss11_no1">{SumcompetResult[10]?.no1}</h3>
            </div>
        </li>
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-4"><img class="w-12 h-12 rounded-full object-cover mr-4" src="https://cdn.bn-sc.cloud/images/nakagame/medal/2.png"
                alt="Silver Rank"></span>
            
            <div class="flex-1">
                <h3 class="text-lg font-medium text-gray-800" id="ss11_no2">{SumcompetResult[10]?.no2}</h3>
            </div>
        </li>
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-4"><img class="w-12 h-12 rounded-full object-cover mr-4" src="https://cdn.bn-sc.cloud/images/nakagame/medal/3.png"
                alt="Bronze Rank"></span>
            
            <div class="flex-1">
                <h3 class="text-lg font-medium text-gray-800" id="ss11_no3">{SumcompetResult[10]?.no3}</h3>
            </div>
        </li>
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-12 ml-4">4.</span>
                
            <div class="flex-1">
                <h3 class="text-lg font-medium text-gray-800" id="ss11_no4">{SumcompetResult[10]?.no4}</h3>
            </div>
        </li>
        <li class="flex items-center py-4 px-6">
            <span class="text-gray-700 text-lg font-medium mr-12 ml-4">5.</span>
            <div class="flex-1">
                <h3 class="text-lg font-medium text-gray-800" id="ss11_no5">{SumcompetResult[10]?.no5}</h3>
            </div>
        </li>
    </ul>
</div>

<script>
    async function fetchData() {
      try {
        const response = await fetch('https://script.google.com/macros/s/AKfycbwJErG-ySxr_RQe1BBDzfkytKI2uZpUPPD4dtB-MxHzb8CuL-M4-IPb5mt1FwQZLgKx_g/exec');
        const jsonData = await response.json();
        const sumCompetResult = jsonData || [];
  
        document.getElementById('ss11_type').textContent = sumCompetResult[10]?.type;
       
        document.getElementById('ss11_no1').textContent = sumCompetResult[10]?.no1;
        document.getElementById('ss11_no2').textContent = sumCompetResult[10]?.no2;
        document.getElementById('ss11_no3').textContent = sumCompetResult[10]?.no3;
        document.getElementById('ss11_no4').textContent = sumCompetResult[10]?.no4;
        document.getElementById('ss11_no5').textContent = sumCompetResult[10]?.no5;
        
  
        
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    }
  
    // Fetch data immediately when the page loads
    fetchData();
  
    // Fetch new data every 1000ms (1 second)
    setInterval(fetchData, 1000);
  </script>