---
const initialData = await fetch('https://api.bn-sc.cloud/nakagame/v1/medal-ranking');
const jsonData = await initialData.json();
const initialMedalRank = jsonData || [];
---

<section class="flex flex-col justify-center antialiased text-gray-600 min-h-screen p-4">
  <div class="h-full">
    <!-- Table -->
    <div class="w-full max-w-sm mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
      <header class="px-5 py-4 border-b border-gray-100">
        <h1 class="font-semibold text-gray-800" style="font-size:18px;" id="text">สรุปอันดับเหรียญ นาคาเกมส์ครั้งที่ 43</h1>
      </header>
      <div class="p-3">
        <div class="overflow-x-auto">
          <table class="table-auto w-full">
            <thead class="text-xs font-semibold uppercase text-black-400 bg-gray-50">
              <tr>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left">คณะ</div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left"><img src="https://cdn-bn-sc.pages.dev/images/nakagame/medal/gold.png" alt="" width="30px"></div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-left"><img src="https://cdn-bn-sc.pages.dev/images/nakagame/medal/silver.png" alt="" width="30px"></div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center"><img src="https://cdn-bn-sc.pages.dev/images/nakagame/medal/bronze.png" alt="" width="30px"></div>
                </th>
                <th class="p-2 whitespace-nowrap">
                  <div class="font-semibold text-center">รวมเหรียญ</div>
                </th>
              </tr>
            </thead>
            <tbody id="medal-data" class="text-sm divide-y divide-gray-100">
              {initialMedalRank.map((item) => (
                <tr key={item.id}>
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                        <img src={item.img} alt={item.name} width="100" height="50" />
                      </div>
                      <div class="font-medium text-gray-800">{item.name}</div>
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center text-yellow-400">{item.gold}</div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center font-medium text-gray-500">{item.silver}</div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center font-medium text-yellow-700">{item.bronze}</div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-center font-medium text-black-500">{item.sum}</div>
                  </td>
                </tr>
              ))}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <br />
  <center>
    <h5 class="p-5" id="time_stamp">
      {initialMedalRank.length > 0 ? initialMedalRank[0].time_stamp : 'No timestamp available'}
    </h5>
  </center>
</section>

<script>
  async function fetchData() {
    try {
      const response = await fetch('https://api.bn-sc.cloud/nakagame/v1/medal-ranking');
      const jsonData = await response.json();

      const medalRank = jsonData || [];

      const medalDataElement = document.getElementById('medal-data');
      medalDataElement.innerHTML = medalRank.map((item) => `
        <tr key="${item.id}">
          <td class="p-2 whitespace-nowrap">
            <div class="flex items-center">
              <div class="w-10 h-10 flex-shrink-0 mr-2 sm:mr-3">
                <img src="${item.img}" alt="${item.name}" width="100" height="50" />
              </div>
              <div class="font-medium text-gray-800">${item.name}</div>
            </div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-center text-yellow-400">${item.gold}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-center font-medium text-gray-500">${item.silver}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-center font-medium text-yellow-700">${item.bronze}</div>
          </td>
          <td class="p-2 whitespace-nowrap">
            <div class="text-center font-medium text-black-500">${item.sum}</div>
          </td>
        </tr>
      `).join('');

      document.getElementById('time_stamp').textContent = medalRank.length > 0 ? medalRank[0].time_stamp : 'No timestamp available';
    } catch (error) {
      console.error('Error fetching data:', error);
    }
  }

  // Fetch data immediately when the page loads
  fetchData();

  // Fetch new data every 1000ms (1 second)
  setInterval(fetchData, 1000);
</script>
